.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.Body-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  position: relative;
}

.Body-content {
  margin-left: 35px;
}

.Body-content h2 {
  font-size: calc(10px + 2vmin);
}
.Body-content div {
  font-size: calc(2px + 2vmin);
}

.Create-container {
  margin-right: 5vw;
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
}

.Create-button {
  cursor: pointer;
  height: 50px;
  font-size: 2rem;
  width: 50px;
  background-color: rgb(62, 226, 62);
  border-radius: 50%;
}

.Tables-container {
  margin: 20px 0;
}

.Db-view {
  margin: 30px 0 10px 10px;
}
.Db-name {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}
.Db-name p {
  margin: 0;
  font-size: calc(5px + 2vmin);
}

.v-icon-active,
.v-icon-inactive {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.v-icon-active::before {
  content: "";
  position: absolute;
  height: 13px;
  width: 1px;
  background-color: white;
  transform: rotate(30deg) translate(4px, 2px);
}
.v-icon-active::after {
  content: "";
  position: absolute;
  height: 13px;
  width: 1px;
  background-color: white;
  transform: rotate(-30deg) translate(-5px, 2px);
}
.v-icon-inactive::before {
  content: "";
  position: absolute;
  height: 13px;
  width: 1px;
  background-color: white;
  transform: rotate(-30deg) translate(2px, 2px);
}
.v-icon-inactive::after {
  content: "";
  position: absolute;
  height: 13px;
  width: 1px;
  background-color: white;
  transform: rotate(30deg) translate(-3px, 2px);
}

.Tables-view {
  padding-left: 15px;
  position: relative;
}
.Tables-view::before {
  content: "";
  left: 0;
  position: absolute;
  width: 1px;
  background-color: white;
  height: -webkit-fill-available;
}

.File-Opener {
  cursor: pointer;
}

.Create-error {
  color: red;
}
