.Create-modal-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.664);
}

.Create-modal {
  height: 400px;
  width: 400px;
  border-radius: 5px;
  background-color: white;
  color: black;
  text-align: center;
  overflow-y: auto;
}

.Create-modal h3 {
  font-size: 1.5rem;
}

.Create-tables {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Create-modal-button {
  cursor: pointer;
}

.Create-modal-actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Create-modal-cancel {
  background-color: rgb(255, 124, 124);
  border-radius: 4px;
  cursor: pointer;
}

.Create-modal-confirm {
  background-color: rgb(62, 226, 62);
  border-radius: 4px;
  cursor: pointer;
}
