.Tables-container {
  margin: 20px 0;
}

.v-icon-active,
.v-icon-inactive {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.v-icon-active::before {
  content: "";
  position: absolute;
  height: 13px;
  width: 1px;
  background-color: white;
  transform: rotate(30deg) translate(4px, 2px);
}
.v-icon-active::after {
  content: "";
  position: absolute;
  height: 13px;
  width: 1px;
  background-color: white;
  transform: rotate(-30deg) translate(-5px, 2px);
}
.v-icon-inactive::before {
  content: "";
  position: absolute;
  height: 13px;
  width: 1px;
  background-color: white;
  transform: rotate(-30deg) translate(2px, 2px);
}
.v-icon-inactive::after {
  content: "";
  position: absolute;
  height: 13px;
  width: 1px;
  background-color: white;
  transform: rotate(30deg) translate(-3px, 2px);
}

.Tables-view {
  padding-left: 15px;
  position: relative;
}
.Tables-view::before {
  content: "";
  left: 0;
  position: absolute;
  width: 1px;
  background-color: white;
  height: -webkit-fill-available;
}

.File-Opener {
  cursor: pointer;
}
